.view-content {
	padding: 0px !important;
}

.data-sheet-container .data-sheet-table {
	position: relative;
}

.data-sheet-container .data-sheet-table table {
	table-layout: fixed;
}

.data-sheet-container .data-sheet-table thead {
	position: sticky;
	top: 0;
	z-index: 1;
}

.data-sheet-container .data-sheet-table th:first-child,
.data-sheet-container .data-sheet-table td:first-child {
	position: sticky;
	left: 0;
}

.data-sheet-container .data-sheet-table .column-header-cell {
	color: var(--text-faint);
	text-align: center;
	background-color: var(--background-primary);
}

.data-sheet-container .data-sheet-table .cell {
	cursor: cell;
	border-right: 1px solid var(--background-modifier-border);
	border-bottom: 1px solid var(--background-modifier-border);
	padding: 5px;
}

.data-sheet-container .data-sheet-table .cell.selected {
	background-color: whitesmoke;
	color: black;
}

.data-sheet-container .data-sheet-table .body-cell {
	text-align: right;
	vertical-align: middle;
}

.data-sheet-container .data-sheet-table .body-cell > input {
	outline: none !important;
	background: none;
	color: black;
	text-align: right;
	width: 100%;
	border: 0px;
}

.data-sheet-container .data-sheet-table .row-header-cell {
	text-align: center;
	background-color: var(--background-primary);
}

.data-sheet-container .data-sheet-table .shadow-row {
	background-color: var(--background-secondary);
}

.data-sheet-container .data-sheet-table .button {
	background-color: var(--background-secondary);
	text-align: center;
	font-weight: bold;
	min-width: 30px;
}
