span.data-sheet-container,
span.data-sheet-container:focus {
	outline: none;
}

.data-sheet-container .data-sheet {
	table-layout: fixed;
	border-collapse: collapse;
}

.data-sheet-container .data-sheet .cell.updated {
	background-color: rgba(0, 145, 253, 0.16);
	transition: background-color 0ms ease;
}

.data-sheet-container .data-sheet .column-header,
.data-sheet-container .data-sheet .row-header,
.data-sheet-container .data-sheet .button {
	font-weight: bold !important;
	text-align: center !important;
	min-width: 30px !important;
	background: whitesmoke;
	color: black;
	/* color: #999; */
	text-align: center;
}

.data-sheet-container .data-sheet .cell:not(.column-separator):not(.row-separator):not(.separator) {
	height: 17px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: cell;
	/* background-color: white; */
	/* background-color: unset; */
	/* color: black; */
	transition: background-color 500ms ease;
	vertical-align: middle;
	text-align: right;
	border: 1px solid #ddd;
	padding: 5px;
}

.data-sheet-container .data-sheet .cell.selected {
	border: 1px double rgb(33, 133, 208);
	transition: none;
	box-shadow: inset 0 -100px 0 rgba(33, 133, 208, 0.15);
	background-color: whitesmoke;
	color: black;
}

.data-sheet-container .data-sheet .cell.column-separator {
	height: 1px;
	width: 1px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: col-resize;
	background-color: whitesmoke;
	transition: background-color 500ms ease;
}

.data-sheet-container .data-sheet .cell.row-separator {
	height: 1px;
	width: 1px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: row-resize;
	background-color: whitesmoke;
	transition: background-color 500ms ease;
}

.data-sheet-container .data-sheet .cell.read-only {
	background: whitesmoke;
	color: black;
	/* color: #999; */
	text-align: center;
}

.data-sheet-container .data-sheet .cell > .text {
	padding: 2px 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.data-sheet-container .data-sheet .cell > input {
	outline: none !important;
	border: 2px solid rgb(33, 133, 208);
	text-align: right;
	/* width: calc(100% - 6px); */
	background: none;
	display: block;
	color: black;
}

.data-sheet-container .data-sheet .cell {
	vertical-align: bottom;
}

.data-sheet-container .data-sheet .cell,
.data-sheet-container .data-sheet.wrap .cell,
.data-sheet-container .data-sheet.wrap .cell.wrap,
.data-sheet-container .data-sheet .cell.wrap,
.data-sheet-container .data-sheet.nowrap .cell.wrap,
.data-sheet-container .data-sheet.clip .cell.wrap {
	white-space: normal;
}

.data-sheet-container .data-sheet.nowrap .cell,
.data-sheet-container .data-sheet.nowrap .cell.nowrap,
.data-sheet-container .data-sheet .cell.nowrap,
.data-sheet-container .data-sheet.wrap .cell.nowrap,
.data-sheet-container .data-sheet.clip .cell.nowrap {
	white-space: nowrap;
	overflow-x: visible;
}

.data-sheet-container .data-sheet.clip .cell,
.data-sheet-container .data-sheet.clip .cell.clip,
.data-sheet-container .data-sheet .cell.clip,
.data-sheet-container .data-sheet.wrap .cell.clip,
.data-sheet-container .data-sheet.nowrap .cell.clip {
	white-space: nowrap;
	overflow-x: hidden;
}

.data-sheet-container .data-sheet .cell .value-viewer,
.data-sheet-container .data-sheet .cell .data-editor {
	display: block;
	/* height: 100%; */
}


.data-sheet-container .data-sheet .button {
	cursor: pointer !important;
	background-color: whitesmoke;
	color: black;
}