.view-content {
	padding: 0px !important;
}

.data-sheet-container .data-sheet-table {
	position: relative;
}

.data-sheet-container .data-sheet-table table {
	table-layout: fixed;
}

.data-sheet-container .data-sheet-table thead {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: var(--background-primary); /* Optional: Add a background color to the pinned row */
}

.data-sheet-container .data-sheet-table .column-header-cell {
	color: var(--text-faint);
	text-align: center;
}

.data-sheet-container .data-sheet-table .cell {
	cursor: cell;
	/* transition: background-color 500ms ease; */
	vertical-align: middle;
	/* text-align: right; */
	border-right: 0.1px solid #ddd;
	border-bottom: 0.1px solid #ddd;
	border-color: rgb(54, 54, 54);
	/* border-right: 1px; */
	padding: 5px;
}

.data-sheet-container .data-sheet-table .cell.selected {
	background-color: whitesmoke;
	color: black;
}

.data-sheet-container .data-sheet-table .body-cell {
	text-align: right;
}

.data-sheet-container .data-sheet-table .row-header-cell {
	text-align: center;
	background-color: var(--background-primary);
}

.data-sheet-container .data-sheet-table .shadow-row {
	background-color: var(--background-secondary);
}

.data-sheet-container .data-sheet-table .button {
	background-color: var(--background-secondary);
	text-align: center;
	font-weight: bold;
	min-width: 30px;
}